section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  width: auto;
}
#randomBtn {
  width: 10rem;
  text-transform:uppercase;
  height: 80px;
  border-radius: 1rem;
  border: solid 3px #f685342c;
  background-color: var(--ctabg);
}
#randomBtn:hover {
  color: rgb(170, 89, 31);
}
