section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
#randomBtn {
  width: 200px;
  text-transform:uppercase;
  height: 80px;
  border-radius: 1rem;
  border: solid 3px #f685342c;
  background-color: var(--ctabg);
}
#randomBtn:hover {
  color: rgb(170, 89, 31);
}
#randomBox {
  height: 100px;
  width: 100%;
  text-align: center;
  display: none;
}
#randomResult {
  font-size: 5rem;
}
